name: Run tests in simulation

# Run the simulation test on pull requests and pushes to the main branch
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

# Let's default to the burger variant of Turtlebot
env:
  TURTLEBOT3_MODEL: burger

jobs:
  simulation:
    # All steps inside this job will run inside the ROS Melodic container
    container: public.ecr.aws/docker/library/ros:noetic-robot
    runs-on: ubuntu-20.04
    # Let's ensure we use bash, and work within our catkin worksapce
    defaults:
      run:
        shell: bash
        working-directory: catkin_ws/
    steps:
      # Check out the code
      - uses: actions/checkout@v2

      # Install the Turtlebot and Gazebo packages for Noetic
      - name: Install dependencies
        run: |
          sudo apt-get update && \
          sudo apt-get install -y \
            ros-noetic-turtlebot3 \
            ros-noetic-turtlebot3-simulations \
            ros-noetic-gazebo-ros-pkgs \
            ros-noetic-gazebo-ros-control

      # Build our workspace
      - name: Build workspace
        run: |
          source /opt/ros/noetic/setup.bash
          catkin_make

      # Run our ROS test!
      - name: Run tests
        run: |
          source devel/setup.bash &&
          rostest my_turtlebot_sim my_turtlebot_sim.test --text
